:root{
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very_dark_blue: hsl(212, 21%, 14%);
    --Dark_grayish_blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: Montserrat;
    src: url(./Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: fraunces;
    src: url(./Fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
    background-color: var(--Cream);
}
body::-webkit-scrollbar {
    display: non;
}
main{
    max-width: 21.375rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.875rem 1rem;
    background-color: var(--White);
    border-radius: 0.625rem;
}
img{
    max-width: 21.375rem;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
}
section{
    max-width: 21.375rem;
    padding: 1.25rem 1.5rem;
}
.price{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.25rem;
}
p{
    color: var(--Dark_grayish_blue);
}
.first{
    font-size: 0.625rem;
    letter-spacing: 0.25rem;
    font-weight: 500; 
}
section > h1{
    margin-top: 0.5rem;
    font-family: fraunces;
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--Very_dark_blue);
}
section > p:last-of-type{
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-right: 0.125rem;
}
.price h1{
    color: var(--Darkcyan);
    font-weight: 700;
    font-family: fraunces;
    font-size: 1.6875rem;
}
.price p{
    text-decoration: line-through;
    font-size: 0.875rem;
}
button{
    margin-top: 1rem;
    background-color: var(--Darkcyan);
    color: white;
    border: none;
    font-weight: 700;
    width: 18.5rem;
    height: 3rem;
    border-radius: 0.5rem;
}


@media only screen and (min-width:768px) {
    body{
        justify-content: center;
    }
    main{
        flex-direction: row;
        max-width: fit-content;
        max-height: fit-content;
        align-items: start;
    }
    picture img{
        content:url(./images/image-product-desktop.jpg);
        border-radius: 0.625rem 0 0 0.625rem;
        max-height: auto;
        display: block;
        max-width: 18.75rem;
    }
   section > h1{
        margin-top: 0.875rem;
        padding-right: 0.625rem;
    }
    section > p:last-of-type{
        margin-top: 1.625rem;
    }
    button{
        width: 14.625rem;
    }
    section{
        max-width: 18.75em;
        margin-top: rem;
        padding-right: 3.125rem;
    }
    .price{
        margin-top: 1.5rem;
    }
    button{
        margin-top: 2rem;
    }
}